<html>

	<head>
		<title>
			My Awesome Travel Website
		</title>

		<link rel="stylesheet" href="css/style.css"/>


	</head>

	<body>
		<h1> My African Adventure!!!</h1>
		
			<%
		for (var i = 0; i < 100; i++){
	%>
	<div>
			<h1>Capetown!!!</h1>
			<a href=http://en.wikipedia.org/wiki/Cape_Town target="_blank"><img src="images/capetown.jpg"></a>
			<h4>This was the best food on the trip!</h4>
			<h4>My Rating: 5 (out of 5)</h4>
		</div>
	<%
		}

	%>

		

	


	</body>

</html>